* {
    font-family: "Courier Prime", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #391809;
}
.bold {
    font-weight: bold;
}

body {
    background-color: #FBF5E9;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F6E9CB;
    text-align: center;
    justify-content: space-around;
    padding: 6vh 20vw 3vh 20vw;
    font-weight: bold;
    border-bottom: 3px solid #B9926B;
}
nav a {
    text-decoration: none;
    font-size: 1.20rem;
}
nav p {
    font-size: 1.40rem;
}

#welcome {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 6vh 8vw;
    font-size: 1.25rem;
}
#welcome img {
    width: 13%;
}
#welcome div {
    display: flex;
    flex-direction: column;
    gap: 0.60rem;
}

.light_link {
    font-weight: bold;
    font-style: italic;
    color: #774723;
}
.light_link:hover {
    color: #B9926B;
}

#currentProject {
    display: flex;
    flex-direction: column;
    background-color: #F6E9CB;
    padding: 4vh 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.20rem;
    gap: 1rem;
}

#posts {
    padding: 6vh 8vw;
    display: flex;
    flex-direction: row;
}
#posts a {
    display: block;
    width: max-content;
    margin: 2rem auto;
}
.latest_column {
    width: 60%;
    margin-right: 2vw;
}
.project_column {
    width: 40%;
}
.entry_box {
    background-color: #F6E9CB;
    padding: 2vh 1vw;
    margin-top: 1rem;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entry_box img {
    width: 40%;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.25rem;
}
.entry_text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.50rem;
}
.entry_paragraph {
    font-size: 1.20rem;
}
.project_box {
    background-color: #F6E9CB;
    padding: 2vh 1vw;
    margin-top: 1rem;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.project_box img {
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
}