* {
    font-family: "Courier Prime", monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #391809;
}
.bold {
    font-weight: bold;
}
.padding {
    padding: 7vh 8vw;
}
.text_center {
    text-align: center;
}

body {
    background-color: #FBF5E9;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: #F6E9CB;
    justify-content: space-around;
    padding: 6vh 20vw 3vh 20vw;
    font-weight: bold;
    border-bottom: 3px solid #B9926B;
}
nav a {
    text-decoration: none;
    font-size: 1.20rem;
}
nav p {
    font-size: 1.40rem;
}
#open-nav {
    display: none;
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 1em;
}
#close-nav {
    display: none;
    background-color: transparent;
    border: none;
    margin-left: auto;
}
.nav-background {
    background-color: #F6E9CB;
}

#overlay {
    position: fixed;
    inset: 0;
    background-color: #391809;
    opacity: 50%;
    z-index: 9;
    display: none;
    transition: background-color 300ms ease-out;
}
nav.show ~ #overlay {
    display: block;
}

#welcome {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 6vh 8vw;
    font-size: clamp(1rem, 1.50vw, 2.50rem);
}
#welcome img {
    width: 13%;
}
#welcome div {
    display: flex;
    flex-direction: column;
    gap: 0.60rem;
}

.light_link {
    font-weight: bold;
    font-style: italic;
    color: #774723;
}
.light_link:hover {
    color: #B9926B;
}

#currentProject {
    display: flex;
    flex-direction: column;
    background-color: #F6E9CB;
    padding: 4vh 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.20rem;
    gap: 1rem;
}

#posts {
    padding: 6vh 8vw;
}
#lists {
    display: flex;
    flex-direction: row;
}
#posts a {
    display: block;
    width: max-content;
    margin: 2rem auto;
}
.latest_column {
    width: 60%;
    margin-right: 2vw;
}
.project_column {
    width: 40%;
}
.entry_box {
    background-color: #F6E9CB;
    padding: 2vh 1vw;
    margin-top: 1rem;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entry_box img {
    width: 40%;
    height: 9rem;
    object-fit: cover;
    border-radius: 0.25rem;
}
.entry_text {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 0.50rem;
}
.entry_paragraph {
    font-size: 1.20rem;
}
.project_box {
    background-color: #F6E9CB;
    padding: 2vh 1vw;
    margin-top: 1rem;
    border-radius: 0.55rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.project_box img {
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
}
#selectPosts {
    display: none;
}

#projectList {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#projectList .project_box {
    width: 49%;
    padding: 3vh 2vw;
}
#projectList .project_box img {
    height: 18rem;
    object-fit: cover;
    border-radius: 0.25rem;
}
#projectList .project_box p {
    font-size: 1.20rem;
}

input[type="search"] {
    color: #391809;
    margin: 1rem 0;
    padding: 0.55rem 0.65rem;
    background-color: #F6E9CB;
    width: 100%;
    border-radius: 0.45rem;
    border: 1px solid #B9926B;
}
input[type="search"]:focus {
    outline-color: #774723;
}
input[type="search"]::placeholder {
    color: #774723;
}
select {
    color: #774723;
    padding: 0.40rem 0.35rem;
    background-color: #F6E9CB;
    border-radius: 0.45rem;
    border: 1px solid #B9926B;
}
select:focus {
    outline-color: #774723;
}
#entriesList {
    margin: 3rem 0;
}
#entriesList .entry_text {
    width: 70%;
}
#entriesList .entry_box img{
    width: 22%;
}

#about_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "box-2" "box-1" "box-1"
    "box-2" "box-3" "box-3"
    "box-2" "box-4" "box-4";
}

#about_top img {
    width: 40%;
}

.top_text p {
    text-align: justify;
    text-indent: 2rem;
    font-size: clamp(1rem, 1.40vw, 2.50rem);
    margin: 1rem 0;
}

@media only screen and (max-width: 576px) {
    #plant2 {
        display: none;
    }
    #welcome {
        text-align: right;
        padding: 6vh 6vw;
    }
    #welcome img {
        width: 36%;
    }

    #selectPosts {
        display: block;
        font-size: 1.75rem;
        background-color: transparent;
        border: none;
        padding: 0;
        color: #391809;
        font-weight: bold;
    }
    #selectPosts:focus {
        outline: none;
    }
    .latest_column, .project_column {
        width: 100%;
    }
    .latest_column h1, .project_column h1 {
        display: none;
    }
    #lists {
        display: block;
    }
    #wlcm_date {
        font-size: 1.25rem;
    }
    .entry_box {
        padding: 2vh 4vw;
    }
    .entry_box img {
        display: none;
    }
    .entry_text {
        width: 100%;
    }
    .entry_paragraph {
        font-size: 1.05rem;
    }
    .project_box {
        padding: 2vh 4vw;
    }
    .project_box img {
        height: 10rem;
    }

    #projectList {
        flex-direction: column;
    }
    #projectList .project_box {
        width: 100%;
        padding: 2vh 4vw;
        gap: 2vh;
    }
    #projectList .project_box img {
        height: 10rem;
    }

    .top_text {
        padding: 0;
        margin: 0;
    }
}
@media only screen and (max-width: 1180px) {
    nav {
        padding: 6vh 14vw 3vh 14vw;
    }
    nav a {
        font-size: 1.20rem;
    }
    nav p {
        font-size: 1.30rem;
    }
}
@media only screen and (max-width: 836px) {
    #logo {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        flex-direction: column;
        justify-content: start;
        padding: 2vh 3vw;
        border-left: 3px solid #B9926B;
        transition: right 300ms ease-out;
    }
    nav.show {
        right: 0;
    }
    nav a {
        padding: 1rem 0;
    }
    #open-nav {
        display: block;
    }
    #close-nav {
        display: block;
    }
}