---
layout: default
title: Grazi's Devblog
---

<section id="welcome">
    <img src="{{'img/plant.gif' | relative_url}}" alt=""/>
    <div>
        <p id="wlcm_date" class="bold">June 28, 2025</p>
        <p>Hi, welcome to Grazi’s dev blog!</p>
        <a class="light_link" href="{{'/about/' | relative_url}}">Want to know more about?</a>
    </div>
    <img id="plant2" src="{{'img/plant.gif' | relative_url}}" alt="">
</section>

<section id="currentProject">
    <p>Current project:</p>
    <p>This blog</p>
</section>

<section id="posts">
    <select name="selectPosts" id="selectPosts" required>
        <option value="other_projects" selected>Other projects</option>
        <option value="latest_entries">Latest entries</option>
    </select>
    <div id="lists">
        <div id="latest_column">
            <h1>Latest entries</h1>
            {% for post in site.posts limit:3 %}
            <a href="{{ post.url | relative_url }}" class="entry_link">
                <div class="entry_box">
                    <div class="entry_text">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.date | date: "%B %d, %Y"}}</p>
                        <p class="normal_fs">{{ post.excerpt }}</p>
                    </div>
                    {% if post.image %}
                    <img src="{{ post.image | relative_url }}" alt="">
                    {% endif %}
                </div>
            </a>
            {% endfor %}
            <a class="light_link see_all" href="entries.html">See all</a>
        </div>
        <div id="project_column">
            <h1>Other projects</h1>
            <div class="project_box">
                <img src="{{'img/project_placeholder.jpg' | relative_url}}" alt="">
                <h2>Header Title</h2>
            </div>
            <div class="project_box">
                <img src="{{'img/project_placeholder.jpg'| relative_url}}" alt="">
                <h2>Header Title</h2>
            </div>
            <a class="light_link see_all" href="{{ '/projects.html' | relative_url }}">See all</a>
        </div>
    </div>
</section>
